<%= javascript_include_tag "views/businesses.js" %>
<%= stylesheet_link_tag "views/businesses.css", media: "all" %>
<div id="alert_messages"></div>
<h3><%= t('businesses.index.title') %></h3>
<div class="card">
  <div class="card-body">
    <%= render 'search_form' %>
  </div>
</div>
<%= render 'table' %>