<%= javascript_include_tag "certifications.js" %>
<%= stylesheet_link_tag "certifications.css", media: "all" %>

<div id="alert_messages"></div>
<h3><%= t('certifications.index.title') %></h3>
<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-body">
    <%= render 'search_form' %>
  </div>
</div>
<%= render 'table' %>
<div id="certifications_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>