以下、ユーザの登録を完了しました。
<h3><%= @user.last_name %></h3>
<h3><%= @user.first_name %></h3>
<h3><%= @user.last_name_roman %></h3>
<h3><%= @user.first_name_roman %></h3>
<h3><%= @user.mail_address %></h3>
<%= link_to "Return to Top.", root_path, class: "btn btn-primary" %>