<!DOCTYPE html>
<html>

<head>
  <title><%= t('application.header') %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= javascript_include_tag "commons/commons.js" %>
  <%= stylesheet_link_tag "commons/commons.css", media: "all" %>
</head>

<body>
  <%= render 'header' %>
  <div class="yield">
    <%= yield %>
  </div>
  <%= render 'footer' %>
</body>

</html>